*.egg-info/
*.unitary
.tox/
.env/
.hypothesis/
.venv/
.vscode/
.mypy_cache/
.DS_Store
docs/source/autogen
__pycache__
docs/_build
dask-worker-space
.ipynb_checkpoints
dist
build
scratch/
**/*.pickle
**/*.data
**/*.pkl 
**/*.log
**/*.txt
**/*.sh 
**/*.qasm

slurm_logs/*
**/*.png
**/*.pickle
ensemble_approx_circuits/*