repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-docstring-first
    -   id: debug-statements
    -   id: double-quote-string-fixer
    -   id: name-tests-test
        args: [--django]
    -   id: requirements-txt-fixer
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: mixed-line-ending
    -   id: check-added-large-files
        args: ['--maxkb=8192']
    -   id: fix-byte-order-marker
    -   id: fix-encoding-pragma
        args: ['--remove']
    -   id: no-commit-to-branch
        args: [--branch, master]
-   repo: https://github.com/myint/docformatter
    rev: v1.3.1
    hooks:
    -   id: docformatter
        args:
            - --in-place
            - --pre-summary-newline
            - --wrap-summaries=80
            - --wrap-descriptions=80
-   repo: https://github.com/pre-commit/mirrors-autopep8
    rev: v1.5.4
    hooks:
    -   id: autopep8
        args:
            - --in-place
            - -a
            - --max-line-length=80
-   repo: https://github.com/asottile/pyupgrade
    rev: v2.9.0
    hooks:
    -   id: pyupgrade
        args:
            - --py36-plus
            - --keep-percent-format
-   repo: https://github.com/asottile/reorder_python_imports
    rev: v2.3.6
    hooks:
    -   id: reorder-python-imports
        args:
            - --add-import
            - from __future__ import annotations
            - --py3-plus
-   repo: https://github.com/asottile/add-trailing-comma
    rev: v2.1.0
    hooks:
    -   id: add-trailing-comma
        args:
            - --py36-plus
-   repo: https://github.com/asottile/setup-cfg-fmt
    rev: v1.16.0
    hooks:
    -   id: setup-cfg-fmt
- repo: https://github.com/myint/autoflake
  rev: v1.4
  hooks:
    - id: autoflake
      args:
        - --in-place
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.901
    hooks:
    - id: mypy
      additional_dependencies: [numpy==1.20.3]
-   repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.4
    hooks:
    -   id: flake8
        args:
            - --ignore=E741,E241,E226,F405,F403,W503,F901
            - --max-line-length=80
        additional_dependencies: [flake8-typing-imports==1.7.0]
