name: tests

on:
  pull_request:
  push:
    branches: [main]

jobs:
  tests:
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.8', '3.9', '3.10', '3.11', '3.12']
        os: [macOS-latest, windows-latest, ubuntu-latest]

    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - name: Upgrade python environment
      run: python -m pip install --upgrade virtualenv setuptools pip

    - name: Upgrade test dependencies
      run: python -m pip install psutil pytest 'hypothesis[zoneinfo]' qiskit nbval

    - name: Install BQSKit
      env:
        SYSTEM_VERSION_COMPAT: 0
      run: pip install .

    - name: Run tests
      env:
        NUMBER_RANDOM_CIRCUITS: 100
      run: pytest --ignore=tests/compiler/compile --ignore=tests/passes/partitioning/test_parts.py --ignore=tests/passes/synthesis/test_qfast.py

    - name: Run notebook tests
      run: pytest --nbval-lax examples/tutorials/