name: tests

on:
  pull_request:
  push:
    branches: [master]

jobs:
  tests:
    strategy:
      matrix:
        python-version: ['3.8', '3.9', '3.10', '3.11']
        os: [macOS-latest, windows-latest, ubuntu-latest]

    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Upgrade python environment
      run: python -m pip install --upgrade virtualenv setuptools pip
    - name: Upgrade test dependencies
      run: python -m pip install psutil pytest hypothesis
    - name: Install BQSKit
      env:
        SYSTEM_VERSION_COMPAT: 0
        NUMBER_RANDOM_CIRCUITS: 100
      run: pip install .
    - name: Run tests
      run: pytest
